<div class="thingy">

  <div id='street-canvas'></div>
  <div class="modal-right">
    <div class="modal-right-top">
      <div class="modal-right-top-left">
        <a href="{{data.link}}" target="_blank"><img src="{{data.images.low_resolution.url}}" alt=""></a>
      </div>
      <div class="modal-right-top-right">
        <div class="modal-right-top-right-top">
          modal-right-top-right-top
        </div>
        <div class="modal-right-top-right-bottom">
          modal-right-top-right-bottom
        </div>
      </div>
    </div>
    <div class="modal-right-bottom">
      modal-right-bottom
    </div>
  </div>


</div>