<div class="thingy">

  <div id='street-canvas'></div>
  <div class="modal-right">
    <div class="modal-right-top">
      <div class="modal-right-top-left">
        <a href="{{data.link}}" target="_blank"><img ng-src="{{data.images.low_resolution.url}}" alt=""></a>
      </div>
      <div class="modal-right-top-right">
        <div class="modal-right-top-right-top">
          {{data.created_time * 1000 | date}}
        </div>
        <div class="modal-right-top-right-bottom">
          <div ng-repeat="comment in comments"></div>
          test {{comment.text}} test {{comment}}
        </div>
      </div>
    </div>
    <div class="modal-right-bottom">
      modal-right-bottom
    </div>
  </div>


</div>