  /*---GLOBAL STYLES---*/
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .center {
    width: 80%;
    margin: 0 auto;
  }
  
  body {
    font-family: 'Open Sans';
    background-image: url('../images/billie_holiday.png');
  }
  /*---HEADER STYLES---*/
  
  header {
    background-color: #247BA0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  header > h1 {
    margin: 0;
    color: white;
    font-size: 2em;
    height: 62px;
    line-height: 62px;
    font-weight: 400;
  }
  /*---INPUT BOX STYLES---*/
  
  form.input-form {
    margin: 10px;
    text-align: center;
  }
  
  form.input-form > input {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #247BA0;
  }
  
  button.submit-btn {
    border: 1px solid #247BA0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  /*---MAP STYLES---*/
  
  #location-canvas {
    border: 3px solid #50514F;
    margin: 20px 0;
    height: 400px;
  }
  /*---RESULT DIRECTIVE TEMPLATE STYLES---*/
  
  #test-button {
    display: block;
  }
  
  .results {
    display: inline;
    margin: 0 auto;
  }
  
  .result-parent-template {
    background-color: white;
    width: 32%;
    min-width: 300px;
    height: auto;
    border: 3px solid #50514F;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #FFE066;
    color: #50514F;
  }
  
  .prof-pic {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-radius: 100px;
    vertical-align: middle;
    padding: 5px;
  }
  
  .prof-pic > img {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }
  
  div.username {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    max-width: 50%;
    overflow: hidden;
    max-height: 100%;
  }
  
  div.likes {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: inline-block;
    color: #F25F5C;
    max-width: 20%;
    max-height: 100%;
    font-size: 1.5em;
  }
  
  div.likes > .like-counter {
    color: #247BA0;
  }
  
  div.result-image {
    border-top: 1px solid #50514F;
    max-width: 100%;
  }
  
  div.result-image > img {
    width: 100%;
  }
  /*---MEDIA QUERIES---*/
  
  @media screen and (max-width: 1200px) {
    .result-parent-template {
      width: 48%;
    }
    div.likes {
      font-size: 1.5em;
    }
  }
  
  @media screen and (max-width: 780px) {
    .result-parent-template {
      width: 100%;
    }
    div.likes {
      font-size: 1.5em;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* .center {
   width: 95%
 }*/
  }